<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.module.mobile.mapper.AccountEquipmentMapper">
    <!--当前表名：a_account_equipment-->
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cx.module.mobile.entity.AccountEquipment">
                    <id column="id" property="id"/>
                    <result column="sb_code" property="sbCode"/>
                    <result column="kh_id" property="khId"/>
                    <result column="state" property="state"/>
                    <result column="creator" property="creator"/>
                    <result column="create_date" property="createDate"/>
                    <result column="modifier" property="modifier"/>
                    <result column="mod_date" property="modDate"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, sb_code, kh_id, state, creator, create_date, modifier, mod_date
        </sql>
    <delete id="delectByKh" parameterType="string">
          delete  from  a_account_equipment ae
          where ae.kh_id=#{khId}


    </delete>
</mapper>
