<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.module.mobile.mapper.EquipmentMapper">
    <!--当前表名：a_equipment-->
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cx.module.mobile.entity.Equipment">
                    <id column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="code" property="code"/>
                    <result column="type" property="type"/>
                    <result column="sb_status" property="sbStatus"/>
                    <result column="sb_jd" property="sbJd"/>
                    <result column="sb_wd" property="sbWd"/>
                    <result column="sb_address" property="sbAddress"/>
                    <result column="sb_user" property="sbUser"/>
                    <result column="sb_usedate" property="sbUsedate"/>
                    <result column="sb_info" property="sbInfo"/>
                    <result column="sb_ewm" property="sbEwm"/>
                    <result column="signal1" property="signal1"/>

                    <result column="remark" property="remark"/>
                    <result column="state" property="state"/>
                    <result column="creator" property="creator"/>
                    <result column="create_date" property="createDate"/>
                    <result column="modifier" property="modifier"/>
                    <result column="mod_date" property="modDate"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, code, type, sb_status, sb_jd, sb_wd, sb_address, sb_user, sb_usedate, sb_info, sb_ewm, remark, state, creator, create_date, modifier, mod_date,signal1
        </sql>

    <select id="findSbByCode" resultType="com.cx.module.mobile.entity.Equipment" parameterType="string">
		SELECT
		e.*
		FROM
		a_equipment e
		WHERE
		e.code = #{code}
	</select>

    <select id="queryList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        e.*,period_no,p.is_period,p.period_no as work_id,e.sb_status,a.*
        FROM
        a_account_equipment ae
        left join a_equipment e  on ae.sb_code=e.code
        left join a_account a  on ae.kh_id=a.id
        left join a_equipment_work_period p on ae.sb_code=p.sb_code and p.is_period=1
		<where>
            <if test="khId != null and khId!=''" >
                and  ae.kh_id =#{khId}
            </if>
            <if test="type != null and type != ''">
                and e.type=#{type}
            </if>
        </where>
        order by p.is_period desc ,
        e.sb_status desc ,e.code
        <if test="start != null and limit != null and limit !=''">
            limit ${start},${limit}
        </if>
	</select>
    <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM
        a_account_equipment ae
        left join a_equipment e on e.code = ae.sb_code
        <where>
            <if test="khId != null and khId!=''" >
                and  ae.kh_id =#{khId}
            </if>
            <if test="type != null and type!=''" >
                and  e.type =#{type}
            </if>
        </where>
	</select>


</mapper>
