<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.module.mobile.mapper.EquipmentHeartInfoMapper">
    <!--当前表名：a_equipment_heart_info-->
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cx.module.mobile.entity.EquipmentHeartInfo">
                    <id column="id" property="id"/>
                    <result column="sb_code" property="sbCode"/>
                    <result column="power" property="power"/>
                    <result column="period_id" property="periodId"/>
                    <result column="heart_state" property="heartState"/>
                    <result column="heart_temperature" property="heartTemperature"/>
                    <result column="state" property="state"/>
                    <result column="creator" property="creator"/>
                    <result column="create_date" property="createDate"/>
                    <result column="modifier" property="modifier"/>
                    <result column="mod_date" property="modDate"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, sb_code, power, period_id, heart_state, heart_temperature, state, creator, create_date, modifier, mod_date
        </sql>
</mapper>
