<div class="layui-layout layui-layout-admin" id="febs-layout">
    <div class="layui-header layui-anim febs-anim-down" id="app-header">
        <button data-method="offset" data-type="rt" class="layui-btn layui-btn-normal febs-hide" id="newMessage">
            多窗口模式，层叠置顶
        </button>
        <script lay-done="layui.element.render('nav','febs-header')"
                template
                type="text/html">
            <ul class="layui-nav layui-layout-left" lay-filter="febs-header">
                <li class="layui-nav-item" lay-unselect>
                    <a febs-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right"></i>
                    </a>
                </li>
                <span class="febs-breadcrumb"></span>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="febs-header">
                <li class="layui-nav-item layui-user" lay-unselect>
                    <a>
                        <img style="width: 1.9rem;margin-right:.5rem;border-radius: 50%"
                             src="{{= ctx + 'common/images/avatar/' + currentUser.avatar }}" title="头像">
                        {{ currentUser.username }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a class="layui-nav-child-href" id="user-profile">个人中心</a></dd>
                        <dd><a class="layui-nav-child-href" id="password-update">密码修改</a></dd>
                        <hr/>
                        <dd><a class="layui-nav-child-href" href="javascript:void(0);"
                               th:onclick="document.getElementById('myform').submit();">退出登录</a></dd>
                        <form id="myform" method="post" th:action="@{logout}"></form>
                    </dl>
                </li>
            </ul>
        </script>
    </div>

    <div class="febs-tabs-hidden">
        <script id="TPL-app-tabsmenu" template type="text/html">
            {{# if(layui.conf.viewTabs){ }}
            <div class="febs-tabs-wrap">
          <span class="febs-tabs-btn febs-tabs-action febs-tabs-prev" data-type="prev">
              <i class="layui-icon layui-icon-left"></i>
          </span>
                <span class="febs-tabs-btn febs-tabs-action febs-tabs-next" data-type="next">
              <i class="layui-icon layui-icon-right"></i>
          </span>
                <span class="febs-tabs-btn febs-tabs-action febs-tabs-down" data-type="down">
              <i class="layui-icon layui-icon-close"></i>
          </span>
                <ul class="febs-tabs-menu">
                    {{# layui.each(layui.view.tab.data,function(i, item){ }}
                    <li data-type="page" class="febs-tabs-btn" lay-url="{{item.fileurl}}">
                        <i class="febs-tabs-ball"></i>{{ item.title }}<b
                            class="layui-icon layui-icon-close febs-tabs-close"></b>
                    </li>
                    {{# }) }}
                </ul>
            </div>
            {{# } }}
        </script>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side" id="app-sidebar">
        <div class="layui-side-scroll">
            <div class="layui-logo" style="cursor: pointer">
                <!--                <img data-th-src="@{common/images/logo.png}">-->
                <span class="layui-icon layui-icon-util"/>
                <span>智工机械</span>
            </div>
            <script
                    lay-api="getMenus"
                    lay-done="layui.element.render('nav','febs-sidebar');layui.febs.sidebarFocus()"
                    template
                    type="text/html">
                <ul class="layui-nav layui-nav-tree" lay-filter="febs-sidebar" lay-shrink="all">
                    {{#
                    function __createSlidebar(data,index){
                    if(!data || data.length == 0) return '';
                    var html = '
                    <dl class="layui-nav-child">';
                        layui.each(data,function(i,child){
                        var left = index == 0 ? 50 : 50 + index * 20;
                        html += '
                        <dd><a style="padding-left:' + left + 'px" target="'+(child.target||'')+'"
                               lay-href="'+ (child.href||'') +'">' + child.title + '</a>';
                            if(child.childs) html += __createSlidebar(child.childs,index+1);
                            html += '
                        </dd>
                        ';
                        });
                        html = html +'
                    </dl>
                    ';
                    return html;
                    }
                    layui.each(d.childs, function(i,child){
                    }}
                    <li class="layui-nav-item">
                        <a lay-href="{{child.href||''}}" target="{{child.target||''}}" title="{{child.title}}"><i
                                class="layui-icon {{child.icon}}"></i>{{child.title}} {{# if(child.notice){ }}<span
                                class="layui-badge">{{ child.notice }}</span>{{# } }}</a>
                        {{ __createSlidebar(child.childs,0) }}
                    </li>
                    {{# }) }}
                </ul>
            </script>
        </div>
    </div>
    <!-- 主体内容 -->
    <div class="layui-body" id="febs-body"></div>
</div>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'febs', 'element'], function () {
        var $ = layui.jquery,
            $view = $('#febs-layout'),
            uri = window.location.host,
            active,
            socket,
            febs = layui.febs;

        var element = layui.element;

        initTheme();

        $view.find('#user-avatar').attr('src', ctx + "common/images/avatar/" + currentUser.avatar);

        $view.on('click', '.layui-logo', function () {
            febs.navigate("/index");
        });

        $view.on('click', '#password-update', function () {
            febs.modal.view('密码修改', 'password/update', {
                area: $(window).width() <= 750 ? '90%' : '500px',
                btn: ['确定'],
                yes: function () {
                    $('#user-password-update').find('#submit').trigger('click');
                }
            });
        });

        $view.on('click', '#user-profile', function () {
            febs.navigate("/sysUser/profile");
        });

        function initTheme() {
            var theme = currentUser.theme;
            var $sidebar = $('#app-sidebar');
            if (theme === 'black') {
                $sidebar.removeClass('febs-theme-white');
            }
            if (theme === 'white') {
                $sidebar.addClass('febs-theme-white');
            }
        }

        openSocket();

        function openSocket() {
            if (typeof (WebSocket) == "undefined") {
                console.log("您的浏览器不支持WebSocket");
            } else {
                let lockReconnect = false;//避免重复链接
                let socketUrl = 'ws://' + uri + "/imserver/" + $("#userId").val();
                let tt;//时间间隔
                let $scope = new WebSocket(socketUrl);
                //创建webSocket链接
                $scope.createWebSocket = function (socketUrl) {
                    try {
                        socket = new WebSocket(socketUrl);
                        $scope.webSocketInit();//初始化webSocket连接函数
                    } catch (e) {
                        console.log('catch');
                        $scope.webSocketReconnect(socketUrl)//重连函数
                    }
                };

                //初始化方法
                $scope.webSocketInit = function () {
                    socket.onclose = function () {//连接关闭函数
                        console.log("连接已关闭...");
                        $scope.webSocketReconnect(socketUrl)//如果连接关闭则重连
                    };
                    socket.onerror = function () {//连接错误函数
                        console.log("连接错误...");
                        $scope.webSocketReconnect(socketUrl)//如果连接错误则重连
                    };
                    socket.onopen = function () {//连接建立
                        let message1 = '{message:"hello word"}';
                        socket.send(message1);//webSocket业务订阅——可以有多个业务
                        //心跳检测启动
                        $scope.heartCheck.start();//订阅业务发送之后启动心跳检测机制
                    };
                    //业务订阅成功后接受服务端推送消息
                    socket.onmessage = function (evt) {
                        let DATA = evt.data;
                        if(DATA !=="连接成功"){
                            $view.find("#newMessage").text(DATA);
                            $view.find("#newMessage").click();
                        }

                        //接收一次后台推送的消息，即进行一次心跳检测重置
                        $scope.heartCheck.reset();
                    };
                };
                $scope.webSocketReconnect = function (url) {
                    console.log("socket 连接断开，正在尝试重新建立连接");
                    if (lockReconnect) {
                        return;
                    }
                    lockReconnect = true;
                    //没连接上会一直重连，设置延迟，避免请求过多
                    tt && clearTimeout(tt);
                    tt = setTimeout(function () {
                        $scope.createWebSocket(url);
                    }, 40000)
                };
                //心跳检测
                $scope.heartCheck = {
                    timeout: 30000,//30秒
                    timeoutObj: null,
                    reset: function () {//接收成功一次推送，就将心跳检测的倒计时重置为30秒
                        clearTimeout(this.timeoutObj);//重置倒计时
                        this.start();
                    },
                    start: function () {//启动心跳检测机制，设置倒计时30秒一次
                        this.timeoutObj = setTimeout(function () {
                            var message = '{message:"心跳"}';
                            socket.send(message);//启动心跳
                        }, this.timeout)
                    }
                    //onopen连接上，就开始start及时，如果在定时时间范围内，onmessage获取到了服务端消息，就重置reset倒计时，距离上次从后端获取消息30秒后，执行心跳检测，看是不是断了。
                };
                $scope.createWebSocket(socketUrl);//开始创建webSocket连接

            }
        }

        //弹出层设置
        //触发事件
        active = {
            offset: function (othis) {
                let type = othis.data('type'),
                    text = othis.text();
                let that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 1,
                    title: '消息通知',
                    area: ['600px', '120px'],
                    shade: 0,
                    maxmin: true,
                    time: 4000,
                    offset: type,
                    content: '<div style="padding: 20px 100px;">' + text + '</div>',
                    zIndex: layer.zIndex,//重点1
                });
            }
        };


        $('#febs-layout .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>