<style>

</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-myequipment-add" lay-title="添加设备">
    <form class="layui-form" action="" lay-filter="myequipment-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备名：</label>
            <div class="layui-input-block">
                <input type="text" name="eqName" autocomplete="off" class="layui-input" lay-verify="required|title">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备编号：</label>
            <div class="layui-input-block">
                <input type="text" name="eqCode" autocomplete="off" class="layui-input" lay-verify="required|code">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">机构类别：</label>
            <div class="layui-input-block myselect">
                <!--                <select name="eqDeptCategory" lay-filter="myselect" class="layui-form-select">-->
                <!--                    <option value="1" selected="">市</option>-->
                <!--                    <option value="2">县</option>-->
                <!--                    <option value="3">乡</option>-->
                <!--                    <option value="4">村</option>-->
                <!--                </select>-->
                <!--                        <input type="text" name="category" autocomplete="off" class="layui-input">-->
                <select name="eqDeptCategory" lay-filter="eqDeptCategory" id="eqDeptCategory"
                        class="layui-form-select"></select>
            </div>
        </div>
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">设备类型：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqType" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备台账：</label>
            <div class="layui-input-block">
                <input type="text" name="eqLedger" autocomplete="off" class="layui-input" lay-verify="required|title">
            </div>
        </div>
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">PM2.5：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqPm2.5" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">PM10：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqPm10" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">CO(一氧化碳)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqCo" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">SO2(二氧化硫)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqSo2" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">NO2(二氧化氮)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="sqNo2" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">O3(臭氧)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="sqO3" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备地址：</label>
            <div class="layui-input-block">
                <input type="text" name="eqAddress" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">设备添加时间：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqAddTime" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备供应商：</label>
            <div class="layui-input-block">
                <input type="text" name="eqSupplier" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">是否检修(1:正常 0:修理)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="eqOverhaul" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-form-item">-->
        <!--                    <label class="layui-form-label febs-form-item-require">状态(1:有效 0失效)：</label>-->
        <!--                    <div class="layui-input-block">-->
        <!--                        <input type="text" name="state" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="myequipment-add-form-submit"
                    id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'layer', 'form', 'table', 'febs', 'util', 'xmSelect'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            xmSelect = layui.xmSelect,
            $view = $('#febs-myequipment-add');

        form.render();


        form.on('submit(myequipment-add-form-submit)', function (data) {
            febs.post(ctx + 'amyequipment/myequipment', data.field, function () {
                layer.closeAll();
                $('#febs-myequipment').find('#query').click();
            });
            return false;
        });

        $.ajax({
            url: "amyequipment/myequipment/catetory",
            data: "",
            datatype: 'json',
            success: function (res) {
                console.log(res)
                $.each(res.data, function (index, item) {
                    console.log(item);
                    //option 第一个参数是页面显示的值，第二个参数是传递到后台的值
                    $('#eqDeptCategory').append(new Option(item.value, item.index));//往下拉菜单里添加元素
                    // $('#myID').append(new Option(1,1));//往下拉菜单里添加元素
                    //设置value（这个值就可以是在更新的时候后台传递到前台的值）为2的值为默认选中
                    // $('#selectID').val(2);
                    form.render(); //更新全部表单内容
                    //form.render('select'); //刷新表单select选择框渲染

                })
            }
        })

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length > 10) {
                    return '数据长度超限';
                }
            },
            code: [
                /^[A-Za-z0-9]+$/
                , '编号不能存在中文字符'
            ],
        });

    })
</script>