<style>
    #febs-apex-column .layui-card-header {
        font-weight: 600;
    }

    .layui-layer-max {
        display: none !important;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-apex-column1" lay-title="柱状图表">
    <div class="layui-row layui-col-space8 febs-container">

        <div class="layui-card">
            <!--                <div class="layui-card-header">机构污染柱状图</div>-->
            <div class="layui-inline">
                <label class="layui-form-label layui-form-label-sm">采集时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="modDate" id="mycreate" class="layui-input">
                </div>
                <button type="button" class="layui-btn" id="echartSearch">查询</button>
            </div>
            <div class="layui-card-body">
                <div id="dataLabelsColumnChart" style="width: 100%; height: 500px"></div>
            </div>
        </div>
    </div>
</div>

<!--<script data-th-src="@{pdm/lay/data/dataSeries.js}"></script>-->
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'apexcharts', 'echarts', 'laydate'], function () {

        var id = [[${id}]],
            $ = layui.jquery,
            laydate = layui.laydate,
            echarts = layui.echarts,
            chartZhu = echarts.init(document.getElementById("dataLabelsColumnChart"));
        console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>", id)
        laydate.render({
            elem: '#mycreate',
            // range: true,
            trigger: 'click'
        });

        var pmtwo = []
        var pmten = []
        var co = []
        var so2 = []
        var no2 = []
        var o3 = []
        var windSpeed = []
        var noise = []
        // -------------- dataLabelsColumnChart ---------------
        $(function () {
            sendAjax({"id": id})
        })

        const array = new Array();
        for (i = 0; i < 24; i++) {
            array.push(i + "点")
        }
        chartZhu.resize()

        //指定图表配置项和数据
        function getEcharts(data) {
            var optionchart = {
                title: {
                    text: '监测数据'
                },
                tooltip: {
                    trigger: 'axis',
                    formatter: function (value) {
                        console.log(value[0])
                        const aname = value[0].name
                        if ("pm2.5" == aname || "pm10" == aname) {
                            // ug/m3
                        }
                        return (value[0].seriesName + "</br>" + value[0].marker
                            + value[0].name + "  " + value[0].value + optionchart.yAxis.name
                        )
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                legend: {
                    selectedMode: "single",
                    selected: {
                        'pm2.5': true,
                        'pm10': false,
                        'co': false,
                        'so2': false,
                        'no2': false,
                        'o3': false,
                        '风速': false,
                        '噪声': false,
                    }
                },
                xAxis: {
                    boundaryGap: false,
                    data: array,
                },
                yAxis: {
                    type: 'value',
                    name: "ug/m3"
                },
                toolbox: {
                    show: true,
                },
                series: [
                    {
                        type: 'line',
                        name: 'pm2.5',
                        //柱状图展示数据
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2],
                        data: data.pmtwo
                    }, {
                        type: 'line',
                        name: 'pm10',
                        //柱状图展示数据
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2],
                        data: data.pmten
                    }, {
                        type: 'line',
                        name: 'co',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.co
                    }, {
                        type: 'line',
                        name: 'so2',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.so2
                    }, {
                        type: 'line',
                        name: 'no2',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.no2
                    }, {
                        type: 'line',
                        name: 'o3',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.o3
                    }, {
                        type: 'line',
                        name: '风速',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.windSpeed
                    }, {
                        type: 'line',
                        name: '噪声',
                        //柱状图展示数据,
                        // data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        data: data.noise
                    }],
            };
            chartZhu.on("legendselectchanged", function (value) {
                const name = value.name;
                if (name == "co") {
                    optionchart.yAxis.name = "mg/m3"
                } else if (name == "噪声") {
                    optionchart.yAxis.name = "db"
                } else if (name == "风速") {
                    optionchart.yAxis.name = "m/s"
                } else {
                    optionchart.yAxis.name = "ug/m3"
                }
                const selected = optionchart.legend.selected;
                for (key in selected) {
                    if (value.name == key) {
                        selected[key] = true
                    } else {
                        selected[key] = false
                    }
                }
                chartZhu.setOption(optionchart, true);
            })
            chartZhu.setOption(optionchart, true);
        }

        function sendAjax(data) {
            $.ajax({
                url: "rank/myequipment/detile/",
                data: data,
                datatype: "json",
                success: function (res) {
                    const result = res.data
                    tmpData = res.data
                    console.log("<><><><", res)
                    pmtwo = result.pmtwo
                    pmten = result.pmten
                    co = result.co
                    so2 = result.so2
                    no2 = result.no2
                    o3 = result.o3
                    windSpeed = result.windSpeed
                    noise = result.noise
                    getEcharts(res.data)
                    // chartZhu.setOption(optionchart, true);
                }
            })
        }

        $("#echartSearch").on("click", function () {
            const val = $("#mycreate").val();
            const json = {"id": id, "data": val}
            sendAjax(json)
        })
    });
</script>