<style>

</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-workPeriodYc-add" lay-title="">
    <form class="layui-form" action="" lay-filter="workPeriodYc-add-form">
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">设备code：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sbCode" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">开始时间：</label>
                    <div class="layui-input-block">
                        <input type="text" name="startTime" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">结束时间：</label>
                    <div class="layui-input-block">
                        <input type="text" name="endTime" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">故障种类 1滚筒错误 2加热故障 3进料错误：</label>
                    <div class="layui-input-block">
                        <input type="text" name="ycType" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">故障内容：</label>
                    <div class="layui-input-block">
                        <input type="text" name="ycInfo" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">状态(1:有效 0失效)：</label>
                    <div class="layui-input-block">
                        <input type="text" name="state" autocomplete="off" class="layui-input">
                    </div>
                </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="workPeriodYc-add-form-submit"
                    id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'layer', 'form', 'table', 'febs', 'util', 'xmSelect'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            xmSelect = layui.xmSelect,
            $view = $('#febs-workPeriodYc-add');

        form.render();


        form.on('submit(workPeriodYc-add-form-submit)', function (data) {
            febs.post(ctx + 'mobile/workPeriodYc', data.field, function () {
                layer.closeAll();
                $('#febs-workPeriodYc').find('#query').click();
            });
            return false;
        });

    })
</script>