<style>

</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-equipmentEnergyInfo-update" lay-title="">
    <form class="layui-form" action="" lay-filter="equipmentEnergyInfo-update-form">
                <input type="text" name="id" id="id" class="layui-input febs-hide" readonly>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">设备code：</label>
                    <div class="layui-input-block">
                        <input type="text" name="sbCode" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">A相电流：</label>
                    <div class="layui-input-block">
                        <input type="text" name="currentA" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">B相电流：</label>
                    <div class="layui-input-block">
                        <input type="text" name="currentB" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">C相电流：</label>
                    <div class="layui-input-block">
                        <input type="text" name="currentC" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">B相电压：</label>
                    <div class="layui-input-block">
                        <input type="text" name="voltageB" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">A相电压：</label>
                    <div class="layui-input-block">
                        <input type="text" name="voltageA" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">C相电压：</label>
                    <div class="layui-input-block">
                        <input type="text" name="voltageC" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">A相功率：</label>
                    <div class="layui-input-block">
                        <input type="text" name="powerA" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">B相功率：</label>
                    <div class="layui-input-block">
                        <input type="text" name="powerB" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">C相功率：</label>
                    <div class="layui-input-block">
                        <input type="text" name="powerC" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label febs-form-item-require">状态(1:有效 0失效)：</label>
                    <div class="layui-input-block">
                        <input type="text" name="state" autocomplete="off" class="layui-input">
                    </div>
                </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="equipmentEnergyInfo-update-form-submit"
                    id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['jquery', 'layer', 'form', 'table', 'febs', 'util', 'xmSelect'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            febs = layui.febs,
            form = layui.form,
            table = layui.table,
            xmSelect = layui.xmSelect,
            equipmentEnergyInfo =[[\$\{equipmentEnergyInfo\}]],
            $view = $('#febs-equipmentEnergyInfo-update');

        form.render();
        initValue();


        form.on('submit(equipmentEnergyInfo-update-form-submit)', function (data) {
            febs.put(ctx + 'mobile/equipmentEnergyInfo', data.field, function () {
                layer.closeAll();
                $('#febs-equipmentEnergyInfo').find('#query').click();
            });
            return false;
        });


        function initValue() {
            form.val("equipmentEnergyInfo-update-form", {
                "id": equipmentEnergyInfo.id,
                "sbCode": equipmentEnergyInfo.sbCode,
                "periodId": equipmentEnergyInfo.periodId,
                "currentA": equipmentEnergyInfo.currentA,
                "currentB": equipmentEnergyInfo.currentB,
                "currentC": equipmentEnergyInfo.currentC,
                "voltageB": equipmentEnergyInfo.voltageB,
                "voltageA": equipmentEnergyInfo.voltageA,
                "voltageC": equipmentEnergyInfo.voltageC,
                "powerA": equipmentEnergyInfo.powerA,
                "powerB": equipmentEnergyInfo.powerB,
                "powerC": equipmentEnergyInfo.powerC,
                "state": equipmentEnergyInfo.state,
            });
        }
    })
</script>