<style>


</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-kh-code" lay-title="">
<form class="layui-form" action="" lay-filter="kh_code-form">
    <input type="text" name="userId" id="userId" class="layui-input febs-hide" readonly>
    <input type="text" name="sbCode"  class="layui-input febs-hide" readonly>
    <div class="layui-form-item" style="margin-top: 10px;">
        <label class="layui-form-label febs-form-item-require">管理员名称：</label>
        <div class="layui-input-block">
            <input type="text" name="accountName" autocomplete="off" readonly class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-top: 10px;">
        <label class="layui-form-label febs-form-item-require">机构名称：</label>
        <div class="layui-input-block">
            <input type="text" name="deptName" autocomplete="off" readonly class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label febs-form-item-require">绑定设备：</label>
        <div class="layui-input-block">
            <div id="codes" class="demo-transfer"></div>
        </div>
    </div>

    <div class="layui-form-item febs-hide">
        <button class="layui-btn" lay-submit="" lay-filter="account-khcode-form-submit"
                id="submit"></button>
        <button type="reset" class="layui-btn" id="reset"></button>
    </div>
</form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['transfer', 'layer','form','febs', 'util','jquery'], function(){
        var $ = layui.$
            ,transfer = layui.transfer
            ,layer = layui.layer
            ,util = layui.util
            ,febs = layui.febs
            ,form = layui.form
            ,codeList =[[${codeList}]]
            ,dataList =[[${dataList}]]
            ,account =[[${tUser}]]
            ,$view = $('#febs-kh-code');
        //实例调用
        transfer.render({
             elem: '#codes'
            ,data: codeList
            ,title: ['待选设备', '已选设备']
            ,showSearch: true
            ,id:'key'
            ,value:dataList
        })

        form.render();
        initValue();
        //批量办法定事件



    form.on('submit(account-khcode-form-submit)', function (data) {
         //获得右侧数据
        data.field.sbCode=JSON.stringify(transfer.getData('key'));
        console.log("zzzzzzzzzzzzzzzzzzzzzz|||||||",data)
        febs.post(ctx + 'myUser/tUser/bind', data.field, function () {
                layer.closeAll();
                $('#febs-account').find('#query').click();
            });
            return false;
        });


        function initValue() {
            form.val("kh_code-form", {
                "userId": account.userId,
                "accountName":account.accountName,
                "deptName":account.deptName,
            });
        }


    });
</script>