<div class="layui-fluid layui-anim febs-anim" id="febs-sendCommand" lay-title="通信协议">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="sendCommand-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                     id="addsendCommand"   sec:authorize="hasRole('sendCommand:add')">
                                    <i class="layui-icon">&#xe891;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="delete" sec:authorize="hasRole('sendCommand:del')">
                                    <i class="layui-icon">&#xe7f9;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                            <div class="layui-col-md10   layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="createDate" id="createTime" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="sendCommandTable"
                           lay-data="{id: 'sendCommandTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="sendCommand-status">
    {{#
    var status = {
    1: {title: '有效', color: 'green'},
    0: {title: '失效', color: 'volcano'}
    }[d.state];
    }}
    <span class="layui-badge febs-tag-{{status.color}}">{{ status.title }}</span>
</script>

<script type="text/html" id="sendCommand-option">
    <a lay-event="edit"><i class="layui-icon febs-edit-area febs-blue"  sec:authorize="hasRole('sendCommand:mod')">&#xe7a4;</i></a>
    <a lay-event="del"><i class="layui-icon febs-edit-area febs-red"  sec:authorize="hasRole('sendCommand:del')">&#xe7f9;</i></a>
</script>

<script data-th-inline="none" type="text/javascript">
    layui.use([ 'jquery', 'layer', 'laydate', 'form','febs','table', 'util','xmSelect'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            table=layui.table,
            xmSelect = layui.xmSelect,
            $view = $('#febs-sendCommand'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $addsendCommand = $view.find('#addsendCommand'),
            $delete = $view.find('#delete'),
            $searchForm = $view.find('form'),
            sortObject = {field: 'createDate', type: null},
            tableIns;

        form.render();

        initTable();


        laydate.render({
            elem: '#createTime',
            range: true,
            trigger: 'click'
        });


        //监听单元格事件
        table.on('tool(sendCommandTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            console.log("data", data);
            if (layEvent === 'del') {
                febs.modal.confirm('删除', '确定删除该 ？', function () {
                    deleteSendCommand(data.id);
                });
            }
            if (layEvent === 'edit') {
                febs.modal.open('修改', 'mobile/sendCommand/update/' + data.id, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#febs-sendCommand-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });

        table.on('sort(sendCommandTable)', function (obj) {
            sortObject = obj;
            tableIns.reload({
                initSort: obj,
                where: $.extend(getQueryParams(), {
                    field: obj.field,
                    order: obj.type
                })
            });
        });

        $query.on('click', function () {
            var params = $.extend(getQueryParams(), {field: sortObject.field, order: sortObject.type});
            tableIns.reload({where: params, page: {curr: 1}});
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
            sortObject.type = 'null';
            tableIns.reload({where: getQueryParams(), page: {curr: 1}, initSort: sortObject});
        });


        $addsendCommand.on('click', function () {
            febs.modal.open('新增', 'mobile/sendCommand/add', {
                btn: ['提交', '重置'],
                area: $(window).width() <= 750 ? '95%' : '50%',
                yes: function (index, layero) {
                    $('#febs-sendCommand-add').find('#submit').trigger('click');
                },
                btn2: function () {
                    $('#febs-sendCommand-add').find('#reset').trigger('click');
                    return false;
                }
            });
        });


        $delete.on('click', function () {
            var checkStatus = table.checkStatus('sendCommandTable');
            if (!checkStatus.data.length) {
                febs.alert.warn('请选择需要删除的 ');
            } else {
                febs.modal.confirm('删除', '确定删除该 ？', function () {
                    var userIds = [];
                    layui.each(checkStatus.data, function (key, item) {
                        userIds.push(item.id)
                    });
                    deleteSendCommand(userIds.join(','));
                });
            }
        });

        function initTable() {
            tableIns = febs.table.init({
                elem: $view.find('table'),
                id: 'sendCommandTable',
                url: ctx + 'mobile/sendCommand/pageList',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'sbCode', title: '设备编号'},
                    {field: 'plcAddress', title:'PLC地址'},
                    {field: 'functionCode', title:'功能码'},
                    {field: 'qsAddress', title: '起始地址'},
                    {field: 'jcqnum', title: '寄存器数量'},
                    {field: 'unitType', title: '数据类型'},
                    {field: 'gs', title: '计算公式'},
                    {field: 'command', title: '发送内容'},
                    {field: 'remark', title: '备注'},
                    {title: '状态', templet: '#sendCommand-status'},
                    {field: 'createDate', title: '创建时间', minWidth: 180, sort: true},
                    {title: '操作', toolbar: '#sendCommand-option', minWidth: 140}
                ]]
            });
        }

        function getQueryParams() {
            var createTimeFrom = "",
                createTimeTo = "",
                createTime = $searchForm.find('input[name="createDate"]').val();
            if (createTime) {
                createTimeFrom = createTime.split(' - ')[0];
                createTimeTo = createTime.split(' - ')[1];
            }
            return {
                startDate: createTimeFrom,
                endDate: createTimeTo,
                name: $searchForm.find('input[name="name"]').val().trim(),
                invalidate_ie_cache: new Date()
            };
        }


        function deleteSendCommand(ids){
            febs.delete(ctx + 'mobile/sendCommand', {"ids": ids}, function () {
                febs.alert.success('删除成功');
                $query.click();
            });
        }
    })
</script>